
  
  strong {
    
    margin-right: 5px;
  }
   
  .paramsBody { 
    text-align: center;
    font-family: Arial;
    font-weight: 800;
    font-size: medium;
    color: #d0dffb;
    margin-bottom: 5px;
  }

  .diceBody {
    color: tomato;
  }

  .instr {
    color: #FFF;
  }

  .go-center {
    display: flex;
    margin-top: 7px;
    justify-content: center;
  }
  
  
  .flex-column-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 5% 5% 5% 5%;
    flex-direction: column;
  }
  
  .flex-column-container select {
    align-self: flex-start;
    align-items: center;
    background: black;
    color: white;
  }
  
  .flex-row-container {
    display: flex;
    margin: 5% 5% 5% 5%;
    flex-direction: row;
    justify-content: center;
  }
  
  .dice {
    width: 100px;
    height: 100px;
  }

  .gameBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: #0a2759;
    border: 2px solid #0560b0;
    border-radius: 2%;
    width: 500px;
    min-height: 500px;
  }

  .diceBox {
    background-color: #2b7795;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #acfcff;
    border-radius: 10%;
    width: 350px;
    margin: 10px;
  }

  .numDForm {
    align-self: center;
    background-color: #691d30;
    width: 100px;
    border: 3px solid #1c2736;
    border-radius: 8%;
    color: #d0dffb;
    font-weight: bold;
    font-size: larger;
  }
  .dForm {
    align-self: center;
    background-color: #691d30;
    width: 100px;
    border: 3px solid #1c2736;
    border-radius: 8%;
    color: #d0dffb;
    font-weight: bold;
    
    font-size: larger;
  }

  .rerollButton {
    align-self: center;
    width: 100px;
    background: #1683d5;
    color: #d0dffb;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #1c2736;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
  }

  .settersButton {
    align-self: center;
    width: 150px;
    background: #1683d5;
    color: #d0dffb;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 20px;
    border: 2px solid #1c2736;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
  }